* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url(../image/Фон\ 1.png);
}

/***header***/
.journey {
	display: flex;
	justify-content: space-between;
	padding: 18px 79px;
	box-shadow: 0px 4px 4px 0px #00000040;

}

.journey-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
	text-align: left;
	text-transform: uppercase;
}

.journey-title-linc:hover {
	color: #01813F;
	transition: 0.5s;
}

.journey-login {
	display: flex;

}

.journey-icon {
	display: flex;
	column-gap: 25px;
	padding-right: 25px;
	border-right: 1px solid #FFFFFF;
}

.journey-icon-img path:hover {
	fill: #01813F;
	transition: 0.5s;
}

.journey-text {
	margin-left: 25px;
	padding-block: 3px;
	text-align: center;
	color: #fff;
}

.journey-title-linc {
	color: #FFFFFF;
}

.journey-login-link:hover {
	color: #01813F;
	transition: 0.5s;
}

.journey-login-link {
	font-size: 14px;
	line-height: 14px;
	text-align: left;

	color: #FFFFFF;
}

/***header***/



/***form***/

.singup {
	margin: 54px auto;
	width: 444px;
	padding-right: 60px;
	padding-top: 30px;
	background-color: #fff;
	height: calc(100vh - 60px);
}

.form {
	margin: 0 auto;
	padding-left: 60px;
}

.singup-head {
	display: flex;
	align-items: center;
}

.singup-head-shape {
	margin-left: 0;
	width: 18px;
	height: 18px;
	top: 29px;
	margin-right: 43px;
	background-color: #3CB878;
}

.singup-head-link {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #434343;
}

.singup-head-login {
	margin-left: auto;
}

.singup-head-in {
	color: #3CB878;
}

.singup-head-in:hover {
	color: #01813F;
	border-bottom: 1px solid #01813F;
	transition: 0.5s;
}

.singup-snetwork {
	display: flex;
	column-gap: 4px;
	margin-top: 15px;
}

.singup-snetwork-facebook,
.singup-snetwork-google {
	display: flex;
	justify-content: space-around;
	column-gap: 32px;
	align-items: center;
	color: #fff;
	padding-block: 17px;
	width: 100%;
	border: none;
	padding-right: 20px;
}

.singup-snetwork-facebook {
	background-color: #305DB8;
}

.singup-snetwork-facebook:hover {
	background-color: #022263;
	transition: 0.5s;
}

.singup-snetwork-google {
	background-color: #DF4A32;
}

.singup-snetwork-google:hover {
	background-color: #AB1F09;
	transition: 0.5s;
}

.singup-label {
	width: 100%;
	padding-block: 15px;
	padding-left: 20px;
	margin-bottom: 16px;
	border: 1px solid #F2F2F2;
	color: #BEBEBE;
}

.singup-label:focus {
	color: #434343;
	border: 1px solid #f2f2f2;
	outline: none;
	box-shadow: 0px 3px 8px 0px #2c0a0a36;
	transition: 0.2s;
}

.singup-label-text,
.singup-form-text {
	font-size: 14px;
	line-height: 14px;
	text-align: left;
}

.singup-or {
	display: flex;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 11px;
}

.singup-or-line {
	height: 1px;
	background-color: #F2F2F2;
	width: 50%;
}

.ingup-or-text {
	padding-inline: 5px;
}

.singup-form-checkbox {
	margin-top: 12px;
}

.singup-form-text {
	color: #434343;
}

.singup-form-agree {
	display: none;
}

.singup-form-check {
	position: relative;
}

.singup-form-text {
	display: flex;
	align-items: center;
}

.singup-custom-check {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #434343;
	border-radius: 15%;
	margin-right: 10px;
}

.singup-img {
	display: none;
	margin: auto;

}

.singup-form-agree:checked~.singup-custom-check>.singup-img {
	display: block;
}

.singup-form-link {
	color: #3CB878;
}

.singup-form-link:hover {
	color: #01813F;
	border-bottom: 1px solid #01813F;
	transition: 0.5s;
}

.form-party-submit {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 16px 99px;
	text-align: center;
	width: 100%;

	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	background-color: #3CB878CC;
	border: none;
}

.form-party-submit:hover {
	background-color: #01813F;
	transition: 0.5s;
}

/***form***/